@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #09122C;
    --color-secundario: #872341;
    --color-terciario: #BE3144;
    --color-hover: #E17564;

    --fuente-montserrat: 'Montserrat', sans serif;
    --fuente-krona: 'Krona One', sans serif;

    --fuente-tamanio: 1.5rem;

}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-size: var(--fuente-tamanio);
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion {
    display: flex;
    align-items: center;
    padding: 9% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentación__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: var(--fuente-tamanio);
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link {
    width: 50%;
    background-color: var(--color-primario);
    border: 2px solid var(--color-terciario);
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: var(--fuente-tamanio);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: var(--fuente-tamanio);
    font-weight: 400;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: var(--fuente-tamanio);
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: var(--fuente-tamanio);
    font-weight: 400;
}

@media (max-width:1200px) {
    .header {
        padding: 10%;
    }

    .presentacion {
        display: flex;
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }

    .header__menu {
        justify-content: center;
    }

}